.timer-container {
  background-color: black;
  border: 1px solid #ccc;
  color: white;
  border-radius: 5px;
  text-align: center;
  justify-content: center;
  position: relative;

}
.timer-container h1{
  text-align: left;
}

.timer-value {
  color: white;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left;
}
.timer-value p{
  justify-content: left;
  text-align: left;

}

.timer-buttons {
  color: #007bff;
  cursor: pointer;
  justify-content: left;
  text-align: left;
  margin-left: auto;
  margin-right: 10px;

}

.timer-buttons button {
  margin: 0 auto;
  padding: 10px 20px;
  width: fit-content;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: left;
  justify-content: left;
}

.timer-buttons button:hover {
  background-color: #0056b3;
}
  